.stock-content-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.stock-chart-container {
    padding: 25px 80px;
}

.body-container {
    background: #002952;
    width: 100vw;
    padding: 40px 80px;
    display: flex;
    justify-content: space-around;
}

.explain-container {
    display: flex;
    flex-direction: column;
    margin-top: 3.5%;
    margin-left: 1%;
    width: 50vw;
}

.stock-chart-container h2 {
    color: #323232;
    font-size: 2.4rem;
}

.stock-chart-container p {
    color: grey;
    font-size: 1.4rem;
    margin-top: -1.5%;
}

.explain-price {
    display: flex;
}

.explain-price h4 {
    color: #323232;
    font-size: 1.8rem;
}

.explain-price p {
    color: blue;
    font-size: 1.5rem;
    margin-top: 0.5%;
    margin-left: 1.4%;
}
