h1 {
    color: #000;
    font-size: 2.8rem;
} 

h3 {
    color: grey;
    font-size: 1.3rem;
}

.slick-prev {
    left: 20% !important;
    z-index: 1;
}

.slick-next {
    right: 20% !important;
    z-index: 1;
}

.cards-container {
    width: 100vw;
    display: flex;
    flex-flow: column;
    padding: 50px 70px;
}

.cards-title {
    display: flex;
    margin-bottom: -1.5%;
}

.cards-select {
    font-size: 1.4rem;
    margin-top: 5px;
    margin-left: 20px;
}

.card-carousel {
    width: 100%;
    padding: 10px 20px;
}

.card-container {
    width: 380px;
    display: flex;
    flex-flow: column;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    border-radius: 20px;
    text-decoration: none;
    padding: 15px 30px;
}

.card-subtitle {
    color: grey;
    font-weight: 600;
    margin-top: -12%;
    font-size: 1.2rem;
}

.card-price {
    /* position: relative; */
    text-align: right;
    margin-top: -20%;
}

.check-price {
    display: flex;
    margin-top: -10%;
    color: red;
    font-weight: 600;
}

