h1 {
    color: #000;
    font-size: 2.8rem;
} 

h3 {
    color: grey;
    font-size: 1.3rem;
}

.slick-prev {
    left: 20% !important;
    z-index: 1;
}

.slick-next {
    right: 20% !important;
    z-index: 1;
}

.cards-container {
    background: #002952;
    width: 100vw;
    display: flex;
    flex-flow: column;
    padding: 50px 70px;
    justify-content: center;
}

.cards-title {
    display: flex;
    margin-bottom: 0.5%;
    font-size: 2.2rem;
    font-weight: 600;
    color: #fff;
}

.cards-select {
    font-size: 1.4rem;
    margin-top: 5px;
    margin-left: 20px;
}

.card-carousel {
    width: 100%;
    padding: 10px 20px;
    z-index: 0;
}

.card-container {
    background: #ECECEC;
    width: 380px;
    display: flex;
    flex-flow: column;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    text-decoration: none;
    padding: 15px 30px;
}

.card-subtitle {
    color: grey;
    font-weight: 600;
    margin-top: -8%;
    line-height: 0px;
    font-size: 1.1rem;
}

.card-price {
    text-align: right;
    margin-top: 5%;
    line-height: 0px;
}

.check-price {
    font-size: 1.1rem;
    display: flex;
    position: relative;
    left: 58%;
    color: red;
    font-weight: 600;
    margin-top: 10%;
}

.long-sub {
    font-size: 0.9rem;
    line-height: 4px;
}

@media screen and (max-width: 960px) {
    .cards-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        line-height: 0px;
    }

    .cards-select {
        font-size: 1.4rem;
        margin-top: 0px;
        margin-left: 0px;
        margin-bottom: 40px;
    }

}