.inp {
    border-radius: 50px;
    border-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 1.5rem;
}

.input-medium {
    width: 300px;
    padding: 8px 20px;
}

.input-primary {
    outline: none;
}

.primary {
    background-color:#fff;
}