.inp {
    border-radius: 50px;
    border-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 1.5rem;
}

.input-medium {
    width: 300px;
    padding: 8px 20px;
}

.input-primary {
    outline: none;
}

.input-home {
    font-size: 1.2rem;
    border-radius: 7px 0 0 7px;
    padding: 8px 20px;
}

.primary {
    background-color:#fff;
}

@media screen and (max-width: 960px) {
    .input-medium {
        width: 200px;
        padding: 8px 20px;
        font-size: 1rem;
    }
}
