.progress {
    background-color: #d8d8d8;
    border-radius: 20px;
    margin: 15px 0;
    height: 30px;
    width: 300px;
}

.progress-done {
    display: flex;
    background: linear-gradient(to left, #f2709C, #ff9472);
    box-shadow: 0 3px 3px -5px #f2709C, 0 2px 5px #f2709C;
    border-radius: 20px;
    color: #fff;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 0;
    opacity: 0;
    transition: 1s ease 0.3s;
}