.container {
    display: inline;
}

.status-container {
    position: relative;
    top: 15%;
    height: 100%;
}

.vix-title {
    position: relative;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}

.progrss-container {
    display: inline;
    position: relative;
    top: 10%;
}

.emoji-container {
    display: flex;
}

.emoji-title {
    display: flex;
    font-size: 1.3rem;
    font-weight: 700;
    color: #002952;
}

.progress {
    background-color: #d8d8d8;
    border-radius: 20px;
    margin: 15px 0;
    height: 30px;
    width: 90%;
}

.progress-done {
    display: flex;
    background: linear-gradient(to left, #f2709C, #ff9472);
    box-shadow: 0 3px 3px -5px #f2709C, 0 2px 5px #f2709C;
    border-radius: 20px;
    color: #fff;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 0;
    opacity: 0;
    transition: 1s ease 0.3s;
}